<div class="profile-nav">
    <a href="#" class="nav-item active" data-section="account-info">
        <i class="fas fa-user"></i>
        <span>Thông tin tài khoản</span>
    </a>
    <a href="#" class="nav-item" data-section="addresses">
        <i class="fas fa-map-marker-alt"></i>
        <span>Sổ địa chỉ</span>
    </a>
    <a href="#" class="nav-item" data-section="orders">
        <i class="fas fa-shopping-bag"></i>
        <span>Quản lý đơn hàng</span>
    </a>
    <a href="#" class="nav-item" data-section="viewed">
        <i class="fas fa-eye"></i>
        <span>Sản phẩm đã xem</span>
    </a>

    <a href="#" class="nav-item">
        <span th:onclick="|window.location.href='logout'|">
      <i class="fas fa-sign-out-alt"></i>
      <span>Đăng xuất</span>
            </span>
    </a>
</div>
